body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* NAVBAR */
.navbar {
  background-color: #333; /* Background color for the navbar */
  color: white; /* Text color */
  padding: 10px; /* Padding for the navbar */
  position: fixed; /* Fixed positioning */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width */
}

.navbar-menu {
  list-style-type: none; /* Remove default list styles */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbar-item {
  display: inline-block; /* Display items inline */
  margin-right: 20px; /* Add right margin between items */
}

.navbar-item a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
}

.navbar-item i {
  margin-right: 5px; /* Add right margin to icons */
}

.navbar-item a:hover {
  color: orange; /* Change text color on hover */
}


/* LISTA BIBLIOTECAS */


  
  
  


